/* Set margin and padding to 0 for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#search-results
{
    /* border: 2px solid blue; */
    height: 100vh;
    width: 100%;
    
}




/* Style for header */
header{
    display: flex;
    /* border: 2px solid red; */
    height: 85px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
}

/* Style for logo image */
#logo{
    height: 40px;
}

/* Style for header links */
header a{
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    border: none;
    transition: all 0.5s;

}

/* Style for header links on hover */
header a:hover{
    /* text-decoration: underline; */
    color: aqua;
    box-shadow: 2px 2px 5px aqua;
    font-weight: bolder;
}

/* Style for container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Style for input field */
input{
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
}

/* Style for button */
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

/* Style for meal containers */
.meal {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Set background color */
    /* background-color: lightgray */
}

/* Style for meal images */
.meal img {
    width: 50%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/* Style for meal headings */
.meal h2 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
    color: red;
}

.meal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* ?margin-left: 20px; */
}

.meal li {
    margin-bottom: 5px;
}

.meal button {
    background-color: #fff;
    border: none;
    color: #ff5945;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.meal button:hover {
    background-color: #ddd;
}

.description {
    display: none;
}
  
.show {
    display: block;
}

p{
    font-size: 20px;
    margin-left: 10px;
    word-spacing: 3px;
    line-height: 35px;
    text-align: justify;
    color: blue;
    background-color: orange;
    border-radius: 20px;
    padding: 5px;
    
}
a
{
    color: aqua;
    /* font-weight: bold; */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head
{
    /* border: 2px solid red; */
    height: 45px;
    width: 45vw;
   margin-left: 1000px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

#search-button
{
    border-radius: 40px;
    position: relative;
    left: 30px;
}
.head>a
{
    color: black;
   
}
.head>a:hover
{
     /* border: 2px solid aqua; */
     box-shadow: 2px 2px 100px aqua;
}



/* ///////main */
.main
    {
      /* border: 2px solid blue; */
      height: 400px;
      width: 1300px;
      /* align-items: center;
      justify-content: space-evenly; */
      box-shadow: 2px 2px 10px rgb(9, 230, 208);
      position: relative;
      top: 30px;
      left: 60px;
      border-radius: 50px;
    }
    .men
    {
      /* border: 2px solid red; */
      height: 300px;
      width: 260px;
      position: relative;
      left: 190px;
      top: 45px;
      align-items: center;
      border-radius: 30px;
      box-shadow: 2px 2px 10px black;
      /* transition: all 2s; */
    }
    .men>img
    {
      border-radius: 30px;
    }
    .men>a>img:hover
    {
      width:270px;
      height:310px;
      box-shadow: 2px 2px 10px white;
      transform:translate3d(30px);
      border-radius: 10px;
      /* transition: all 2s; */
    }
    
  
    .accesory
    {
      /* border: 2px solid red; */
      height: 300px;
      width: 260px;
      position: relative;
      left: 590px;
      bottom: 250px;
      border-radius: 40px;
      box-shadow: 2px 2px 10px black;
    }
    .accesory>img
    {
      border-radius: 30px;
    }
    .accesory>a>img:hover
    {
      width:270px;
      height:310px;
      box-shadow: 2px 2px 10px white;
      /* transition: all 2s; */
      transform:translate3d(30px);
      border-radius: 10px;
    }
  
  
    .women
    {
      /* border: 2px solid red; */
      height: 300px;
      width: 260px;
      position: relative;
      left: 990px;
      bottom: 550px;
      border-radius: 30px;
      box-shadow: 10px 10px 10px black;
    }
    .women>img
    {
      border-radius: 30px;
    }
  
    .women>a>img:hover
    {
      width:270px;
      height:310px;
      box-shadow: 2px 2px 10px white;
      transform:translate3d(30px);
      border-radius: 10px;
    }
  
    .shoping
    {
      height: 1200px;
      width: 1300px;
      box-shadow: 2px 2px 10px rgb(20, 20, 20);
      position: relative;
      left: 60px;
      top: 60px;
      border-radius: 40px;
      display: flex;
      /* transition: all 2s; */

      /* justify-content: space-around; */
    }
    .row1
    {
      display: flex;
      justify-content: space-between;
      position: relative;
      left: 60px;
      top: 30px;
  
      transition: all 2s;
    }
  
    .row2
    {
      display: flex;
      position: relative;
      right: 1130px;
      top: 650px;
      /* left: 60px; */
    
      transition: all 2s;
    }

    body
    {
      background-color: black;
      
    }
    .shop1>a>img:hover
    {
      height: 460px;
      width: 310px;
      /* border-radius: 10px; */
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;
    }

    .shop2>a>img:hover
    {
      height: 460px;
      width: 310px;
      /* border-radius: 10px; */
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .shop3>a>img:hover
    {
      height: 460px;
      width: 310px;
      /* border-radius: 10px; */
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .shop4>a>img:hover
    {
      height: 460px;
      width: 310px;
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .shop7>a>img:hover
    {
      height: 460px;
      width: 310px;
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .shop8>a>img:hover
    {
      height: 460px;
      width: 310px;
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

     }

    .shop9>a>img:hover
    {
      height: 460px;
      width: 310px;
      /* border-radius: 10px; */
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .shop10>a>img:hover
    {
      height: 460px;
      width: 310px;
      border-radius:20px;
      /* transition: all 2s; */
      box-shadow: 5px 5px 20px white;

    }

    .men::after
    {
       content: "";
       position: relative;
       bottom: 40px;
    }

    .men:hover::after
    {
      content: "HERE VEG FOODS AVAILABLE";
    
    }




    .accesory::after
    {
       content: "";
       position: relative;
       bottom: 60px;
    }

    .accesory:hover::after
    {
      content: "HERE NON VEG AVAILABLE";
    }
    .women::after
    {
       content: "";
       position: relative;
       bottom: 40px;
    }
    .women:hover::after
    {
      transition: all 2s;
      content: "HERE CHINES AVAILABLE";
    }
    .shop1::after
    {
       content: "";
       position: relative;
       bottom: 40px;
    }

    .shop1:hover::after
    {
      transition: all 2s;
      content: "😋";
    
    }

    .shop2::after
    {
       content: "";
       position: relative;
       bottom: 40px;
    }

    .shop2:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }

    .shop3::after
    {
       content: "";
       position: relative;
       bottom: 40px;
       left: 60px;
    }

    .shop3:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }

    .shop4::after
    {
       content: "";
       position: relative;
       bottom: 40px;
       left: 100px;
    }

    .shop4:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }

    .shop7::after
    {
       content: "";
       position: relative;
       bottom: 40px;
       
    }

    .shop7:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }


    .shop8::after
    {
       content: "";
       position: relative;
       bottom: 40px;
    }

    .shop8:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }
    .shop9::after
    {
       content: "";
       position: relative;
       bottom: 40px;
       left: 60px;
    }

    .shop9:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }

    .shop10::after
    {
       content: "";
       position: relative;
       bottom: 40px;
       left: 100px;
    }

    .shop10:hover::after
    {
      transition: all 2s;
      content: "🤪";
    
    }

    .shop9
    {
      width: 300px;
    }


